<% include ../layout/header_co %>

<div id="subs" class="my-container">
    <%if(subscriptionsList != null){ %>
    <h1 class="purple">Voici la liste de tes abonnements <%=userData.firstname%> !</h1>
    
    <ul><%subscriptionsList.forEach(function(sport){
        %>
        <li><a href="<%= '/subscription/' + sport.id %>"><%=sport.sport_name%></a></li>
    <%
    });%>
    </ul>
    <%}%>

    <%if(seancesList != null){ %>
    <h1 class="purple">Voici la liste des seances !</h1>
    
    <ul><%seancesList.forEach(function(seance){
        %>
        <li><%=seance.description%> le <%=seance.seance_date.toLocaleDateString("fr-FR",{hour:"numeric", minute:"numeric"})%> 
            <button class="btn btn-primary">S'inscrire</button>
        </li>
    <%
    });%>
    </ul>
    <%}%>

</div>


</body>
</html>